# General
.DS_Store
.AppleDouble
.LSOverride

# Logs
logs
*.log

# Environment variable files
.env
.env.local

# Cache
.cache/

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent